html-sample-app/.git
html-sample-app/*.txt
project-html-website/.git
project-html-website/LICENSE
project-html-website/README.md
project-website-template/.git
project-website-template/.gitignore
project-website-template/LICENSE
project-website-template/README.md